<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <div th:fragment="mypageHeader">
    <ul class="nav nav-tabs mt-3">
      <li class="nav-item">
        <!-- class에 active -->
        <a class="nav-link" id="mypage" href="/mypage">개인정보 수정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="myticket" href="/myticket">예매내역</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="myscore" href="/myscore">내 평점</a>
      </li>
    </ul>
  </div>
</html>