<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>좌석 선택</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        th:first-child {
            background-color: #e1e1e1
        }
        td:last-child {
            border-top: hidden;
            border-bottom: hidden;
            border-right: hidden;
        }
        .selected {
            color: orange;
            font-weight: bold;
        }
        .booked {
            color: red;
        }
    </style>
</head>
<th:block th:replace="fragments/header :: header"></th:block>
<body>
<div class="container-fluid mt-3">
    <h3>좌석 선택</h3>
    <form role="form" action="/select-payment" method="post" id="form">
    <div class="d-flex">
        <div class="form-floating p-1">
            <select class="form-select" id="adu" name="adu" aria-label="Floating label select example">
                <option selected value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label for="adu">성인</label>
        </div>
        <div class="form-floating p-1">
            <select class="form-select" id="ado" name="ado" aria-label="Floating label select example">
                <option selected value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label for="ado">청소년</label>
        </div>
        <div class="form-floating p-1">
            <select class="form-select" id="sen" name="sen" aria-label="Floating label select example">
                <option selected value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label for="sen">시니어</label>
        </div>
        <div class="form-floating p-1">
            <select class="form-select" id="dis" name="dis" aria-label="Floating label select example">
                <option selected value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <label for="dis">장애인</label>
        </div>
    </div>
    <table class="table table-bordered mt-3" style="text-align: center">
        <tr>
            <th></th>
            <th colspan="10" style="background-color: black; color: white">SCREEN</th>
            <td></td>
        </tr>
        <tr th:each="num1 : ${#numbers.sequence(1, totalSeats / 10)}">
            <th style="width: 30px" th:text="${#conversions.convert(num1 + 64, 'java.lang.Character')}">A</th>
            <td style="width: 30px" th:each="num2 : ${#numbers.sequence(1, 10)}">
                <label th:for="|${num1}_${num2}|" style="cursor: pointer" th:text="${num2}"></label>
                <input th:id="|${num1}_${num2}|" th:value="|${num1}_${num2}|" name="seat" type="checkbox" onchange="changeCheckbox(this)" style="display:none;">
            </td>
            <td></td>
        </tr>
    </table>
    <div>
        <input type="hidden" name="scheduleId" id="scheduleId" value="">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="button" class="btn btn-primary" onclick="clickButton()">다음</button>
    </div>
    </form>
</div>
</body>
<script th:inline="javascript">
    window.onload = () => {
        const urlParams = new URL(location.href).searchParams;
        document.getElementById('scheduleId').value = urlParams.get('id');

        let tickets = [[${ticketList}]];
        let num = tickets.length;
        for(let i = 0; i < num; i++) {
            let seatId = tickets.at(i)['seatRow'] + '_' + tickets.at(i)['seatCol'];
            let cb = document.getElementById(seatId);
            cb.disabled = true;
            let lb = cb.parentNode.childNodes.item(1);
            lb.className += ' booked';
            lb.innerHTML = 'X';
        }
    }

    function changeCheckbox(cb) {
        let [ticketNum, checkedNum] = getNums();

        if(ticketNum >= checkedNum) {
            let lb = cb.parentNode.childNodes.item(1);
            if(cb.checked) {
                lb.className += ' selected';
            } else {
                lb.classList.remove('selected');
            }
        } else {
            cb.checked = false;
            alert('선택한 좌석수가 티켓수보다 많습니다.');
        }
    }

    function clickButton() {
        let [ticketNum, checkedNum] = getNums();

        if(ticketNum > checkedNum) {
            alert('선택한 좌석수가 티켓수보다 적습니다.');
        } else {
            let form = document.getElementById('form');
            form.submit();
        }
    }

    function getNums() {
        let adu = document.getElementById('adu').value;
        let ado = document.getElementById('ado').value;
        let sen = document.getElementById('sen').value;
        let dis = document.getElementById('dis').value;
        let ticketNum = parseInt(adu) + parseInt(ado) + parseInt(sen) + parseInt(dis);

        const query = 'input[name="seat"]:checked';
        const selectedElements = document.querySelectorAll(query);
        let checkedNum = selectedElements.length;

        return [ticketNum, checkedNum];
    }
</script>
</html>