<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>결제 완료</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<th:block th:replace="fragments/header :: header"></th:block>
<body>
<div class="container-fluid mt-3">
    <h3>결제 완료</h3>
    <div class="card mt-3 mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000087/87175/87175_1000.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="mt-3">
                        <h5 class="card-title"><b>오펜하이머</b></h5>
                    </div>
                    <div class="mt-3" style="line-height: 0.7">
                        <p class="card-text"><small class="text-muted">
                            <b>예매날짜:</b> 2023-08-25
                        </small></p>
                        <p class="card-text"><small class="text-muted">
                            <b>상영관:</b> 강남 1관
                        </small></p>
                        <p class="card-text"><small class="text-muted">
                            <b>상영시간:</b> 2023-08-26 15:30~14:30
                        </small></p>
                        <p class="card-text"><small class="text-muted">
                            <b>좌석:</b> M행 11열
                        </small></p>
                        <p class="card-text"><small class="text-muted">
                            <b>종류:</b> 2D 일반
                        </small></p>
                        <p class="card-text"><small class="text-muted">
                            <b>가격:</b> 8000원
                        </small></p>
                        <p class="card-text"><small class="text-muted">
                            <b>결제방법:</b> 계좌이체
                        </small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>